.wrapper{
    >.card {
        background: var(--welcome-card-bg);
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        // 居中
        display: flex;
        justify-content: center;
        align-items: center;
        > .img  {
            width: 128px;
            height: 130px;

        }
    }
    > .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 16px;
        font-size: 32px;
        color: var(--welcome-card-bg);
        > .fake {visibility: hidden}

    }
    
}
