
.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px);
}



.tabs {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.inputPad_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; //使div容器宽度占据父容器的100%，即body的100%
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .createTag {
    fill: var(--main);
  }
  